body {
  background-color: white;
}

header {
  width: 70%;
  padding: 1rem;
  margin: 10px auto;
}

form {
  width: 70%;
  padding: 1rem;
  margin: 10px auto;
  background-color: rgb(217, 230, 243);
  box-shadow: 5px 2px 5px rgb(102, 106, 109);
}

form div.buttons {
  text-align: center;
}

button {
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}
